<h1><%= @fest.name %></h1>
  
  <ul>
    <li><%= @fest.date %></li>
    <li><%= @fest.city %></li>
    <li><%= @fest.state %></li>
  
  </ul>
  
  <p><%= link_to "See all festivals", "/MyFestivals" %></p>